<h1>Cadastrar Cliente</h1>
<form [formGroup]="clienteForm" (ngSubmit)="submit()" #formDit="ngForm">
  <div class="input-box">
    <label for="nome"></label>
    <input type="text" formControlName="nome" placeholder="Digite o nome completo" required>
  </div>
  <div class="input-box">
    <label for="email"></label>
    <input type="text" formControlName="email" placeholder="Digite o e-mail de contato" required>
  </div>
  <div class="input-box">
    <label for="dataNascimento"></label>
    <input type="text" formControlName="dataNascimento" placeholder="Digite a data de nascimento">
  </div>
  <div class="input-box">
    <label for="cep"></label>
    <input type="text" formControlName="cep" placeholder="Digite o CEP do endereço para pesquisa" required>
  </div>
  <div class="btn-box">
    <button type="submit">Cadastrar</button>
    <button type="submit" routerLink="">Voltar</button>
  </div>
</form>
