<div class="cliente-box">
  <button routerLink="cadastrar-cliente">Cadastar Cliente</button>
  <div class="input-box">
    <label>Procurar</label>
    <input type="text" placeholder="Digite o cliente a ser pesquisado">
  </div>
</div>

<table class="table">
 <thead>
   <th>Ativo</th>
   <th>Nome</th>
   <th>Sobrenome</th>
   <th>Departamento</th>
   <th></th>
   <th></th>
 </thead>
 <tbody>
  <tr>
    <td>
      <img src="assets/images/ativo.png" alt="" style="height: 15px; width: 15px;">
      <img src="assets/images/inativo.png" alt="" style="height: 15px; width: 15px;">
    </td>
    <td>Carlos</td>
    <td>Eduardo</td>
    <td>Tecnologia</td>
    <td>
      <button>Editar</button>
      <button>Detalhes</button>
    </td>
    <td>
      <button>Excluir</button>
    </td>
  </tr>
 </tbody>
</table>


