<mat-card>
<div class="cliente-box">
  <div class="btn-box">
    <button mat-raised-button color="primary" routerLink="cadastrar-cliente">Cadastar Cliente</button>
  </div>

  <div class="input-box">
    <mat-form-field>
      <mat-label>Procurar</mat-label>
      <input matInput type="text" placeholder="Digite o cliente a ser pesquisado" (input)="search($event)">
    </mat-form-field>
  </div>
</div>

<table class="table">
 <thead>
   <th>Ativo</th>
   <th>Nome</th>
   <th>e-mail</th>
   <th>Data de Nascimento</th>
   <th>CEP</th>
   <th></th>
   <th></th>
   <th></th>
 </thead>
 <tbody *ngFor="let Cliente of clientes">
  <tr>
    <td>
      <div *ngIf="Cliente.ativo == true; else inativo">
        <img src="assets/images/ativo.png" alt="" style="height: 15px; width: 15px;">
      </div>

      <ng-template #inativo>
        <img src="assets/images/inativo.png" alt="" style="height: 15px; width: 15px;">
      </ng-template>

    </td>
    <td>{{ Cliente.nome }}</td>
    <td>{{ Cliente.email }}</td>
    <td>{{ Cliente.dataNascimento }}</td>
    <td>{{ Cliente.cep }}</td>
    <td>
      <button mat-raised-button color="accent" routerLink="editar-cliente/{{ Cliente.id }}">Editar</button>
    </td>
    <td>
      <button mat-raised-button routerLink="detalhes-cliente/{{ Cliente.id }}">Detalhes</button>
    </td>
    <td>
      <button mat-raised-button color="warn">Excluir</button>
    </td>
  </tr>
 </tbody>
</table>
</mat-card>

